<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'LogIn.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="main-div">
    <div class="side-box" id="side-box-1">
    </div>
    <div class="side-box" id="side-box-2">
      <form class="form" id="form-login" action="{% url 'signup' %}" method="post">
        {% csrf_token %}

        <div class="logo"></div>
        <h1 class="main-heading">
          Welcome Back!
        </h1>
        <p class="sub-heading">Please enter your details.</p>
        <input type="username" id="username" name="username" placeholder="Enter your username">

        <input type="email" id="email" name="email" placeholder="Enter your email">
        <input type="password" id="password" name="pass1" placeholder="Enter your password">
        <input type="password" id="password" name="pass2" placeholder="conform password">

        <input class="submit" type="submit" value="Sign Up">
        {% if error_message %}
        <span class="error">
            {{ error_message }}
        </span>
    {% endif %}
      </form>
      <div class="Sign-In">
        <p>Already have account? <a href="{% url 'login' %}">Sign In</a>
        </p>
      </div>

    </div>
  </div>

</body>

</html>